form(action="/filter", method="GET")
  input(name="year" placeholder="Filter by year" type="text")
  input(name="rating" placeholder="Filter by rating" type="text")
  input(value="Search" type="submit")